// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all_contacts tr {
  cursor: pointer;
}
.row-selected {
  background: #4CAE4C !important;
}
.calling {
  background: #F7FAB7;
}